<br>

hello from the show file

<p>id: <%= @discipline.id %></p>
<p>start_date: <%= @discipline.start_date %></p>
<p>end_date: <%= @discipline.end_date %></p>
<p>path: <%= @discipline.path %></p>
<p>description: <%= @discipline.description %></p>
<p>industry: <%= @discipline.industry %></p>
<p>title: <%= @discipline.title %></p>
<p>created_at: <%= @discipline.created_at %></p>

